body{
    margin-top: 0px;
    background-color: aliceblue;
    width: 100vw;
}

#top{
    margin-top: -24px;
    background-image: url(../funny-food-02l0aog5cq3w4lsa.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 20%;
    top: 0px;
    left: 0px;
    opacity: 0.9;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}

table{
    text-align: center;
    word-break: break-all;
    font-weight: 500;
}

/* h1, table, input, button{
    font-family: 'Times New Roman', Times, serif;
} */